<div class="span9">
    <div class="row-fluid">
	<div class="page-header">
	    <h1>Users <small>/ <%= @user.name%></small></h1>
	</div>
	  <table class="table table-striped table-bordered table-condensed">
	    <tbody>
		<tr class="">
		    <td><b>Name</b></td>
		    <td><%= @user.name%></td>
		<tr class="">
		    <td><b>Age</b></td>
		    <td><%= @user.age%></td>
		</tr>
		<tr class="">
		    <td><b>Gender</b></td>
		    <td><%= @user.name%></td>
		<tr class="">
		    <td><b>Basic Pay</b></td>
		    <td><%= @user.basic_pay%></td>
		</tr>
		<tr class="">
		    <td><b>HRA</b></td>
		    <td><%= @user.hra%></td>
		<tr class="">
		    <td><b>PF Deductions</b></td>
		    <td><%= @user.pf_deduction%></td>
		</tr>
		<tr class="">
		    <td><b>Net Salary (Basic + HRA - PF)</b></td>
		    <td><%= @user.net_pay%></td>
		</tr>
	    </tbody>
	</table>	
	<div><%= link_to "Edit User", edit_user_path(@user), class: "btn btn-success btn-large" %>
	<%= link_to "Back", root_path, class: "btn btn-error btn-large" %></div>
    </div>
</div>
